APP_NAME=BohurupeeSocialite
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync

BOHURUPEE_ENABLED=true
BOHURUPEE_URL=http://127.0.0.1:4190

GOOGLE_CLIENT_ID=bohurupee-google
GOOGLE_CLIENT_SECRET=bohurupee
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback

GITHUB_CLIENT_ID=bohurupee-github
GITHUB_CLIENT_SECRET=bohurupee
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/auth/github/callback
